:root {
    font-size: 18px;
    --main-bg-color: #406777;
    --darker-main-bg-color: #264653;
    --sec-bg-color: #264653;
    --body-color: #2A9D8F;
    --text-color: #ffffff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--body-color);
}

main {
    background-color: var(--main-bg-color);
    padding-bottom: 30px;
}

h1, h2, h3, p, a {
    color: var(--text-color);
}

h1, h2, h3 {
    font-family: "Old Standard TT", serif;
}

a {
    text-decoration: none;
}