:root {
    font-size: 18px;
    --main-bg-color: #589287;
    --darker-main-bg-color: #43766C;
    --sec-bg-color: #76453B;
    --body-color: #B19470;
    --text-color: #ffffff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-height: 100%;
    width: 100%;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "main"
        "spacer"
        "footer"
    ;
    justify-items: center;
    background-color: var(--body-color);
}

main {
    grid-area: main;
    background-color: var(--main-bg-color);
    max-width: 1200px;
}

.spacer {
    grid-area: spacer;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    background-color: var(--main-bg-color);
}

footer {
    grid-area: footer;
}

h1, h2, h3, p, a {
    color: var(--text-color);
}

h1, h2, h3 {
    font-family: "Old Standard TT", serif;
}

a, p, span {
    font-family: "lato", sans-serif;
}

a {
    text-decoration: none;
}