footer {
    width: 100vw;
    height: auto;
    background-color: var(--sec-bg-color);
}

footer div:not(.footer-name){
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
        "FAQ"   
        "service"
        "contact"
        "phone"
        "email"
        "follow"
        "name"
    ;
    gap: 20px;
    padding: 50px 30px 100px 50px;
    text-align: center;
}

.FAQ {
    grid-area: FAQ;
}

.contact {
    grid-area: contact;
}

.phone {
    grid-area: phone;
}

.email {
    grid-area: email;
}

.service {
    grid-area: service;
}

.follow {
    grid-area: follow;
}

.footer-name {
    grid-area: name;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-name img{
    height: 3rem;
    margin-right: 10px;
    object-fit: contain;
}


@media screen and (min-width: 600px) {
    footer div:not(.footer-name){
        grid-template-columns: 1fr 15% 1fr;
        grid-template-areas: 
        "FAQ        .   contact"
        "service    .   phone"
        "follow     .   email"
        "follow     .   name"
        ;
        text-align: left;
    }

    .footer-name {
        justify-self: start;
    }
}