footer {
    width: 100vw;
    height: auto;
    padding: 10px 30px;
    background-color: var(--sec-bg-color);
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
        "FAQ        contact"
        "service    phone"
        "follow     email"
        "follow     name"
    ;
    gap: 10px;
}

.FAQ {
    grid-area: FAQ;
}

.contact {
    grid-area: contact;
}

.phone {
    grid-area: phone;
}

.email {
    grid-area: email;
}

.service {
    grid-area: service;
}

.follow {
    grid-area: follow;
}

.footer-name {
    grid-area: name;
}


h2 {
    font-size: 1.5rem;
}

.email h2 {
    font-size: 1rem;
}

.footer-name{
    display: flex;
    align-items: center;
}

.footer-name picture{
    height: 3rem;
    margin-right: 10px;
}