footer {
    width: 100vw;
    height: auto;
    background-color: var(--sec-bg-color);
}

footer div:not(.footer-name){
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 15% 1fr;
    grid-template-areas: 
        "FAQ        .   contact"
        "service    .   phone"
        "follow     .   email"
        "follow     .   name"
    ;
    gap: 20px;
    padding: 50px 30px 100px 50px;
}

.FAQ {
    grid-area: FAQ;
}

.contact {
    grid-area: contact;
}

.phone {
    grid-area: phone;
}

.email {
    grid-area: email;
}

.service {
    grid-area: service;
}

.follow {
    grid-area: follow;
}

.footer-name {
    grid-area: name;
}

footer h2 {
    font-size: 1.5rem;
}

.email h2, .phone h2 {
    font-size: 1rem;
}

.footer-name{
    display: flex;
    align-items: center;
}

.footer-name picture img{
    height: 3rem;
    margin-right: 10px;
    object-fit: contain;
}