nav ul {
    list-style: none;
}

nav button {
    background: none;
    border: none;
    padding: 20px;
}

.nav-link {
    display: none;
}

.nav-link:hover a{
    text-decoration: underline;
}

nav a {
    padding: 20px;  /*FOR ACCESSIBILITY */
}

/* BOX FIX */
nav {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 4rem;
    background-color: var(--sec-bg-color);
    z-index: 1000; /*OTHERWISE CAROUSEL WILL BE OVER NAV*/
}

#item-list {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo{
    height: 4rem;
}

.name {
    margin-left: 30px;
}

.burger, .close {
    margin-left: auto;
    margin-right: 3rem;
}

.spa {
    margin-right: 80px;
}

.racing {
    margin-right: 30px;
}

.home {
    margin-left: auto;
    margin-right: 30px;
}



/* BURGER LIST */
#burger-click-list {
    background-color: var(--sec-bg-color);
    padding: 20px 0 40px 48px;
}

#burger-click-list li {
    width: 8rem;
}

#burger-click-list li a {
    display: flex;
    align-items: center;
}

.burger-racing {
    margin: 10px 0;     /*REGULATES DISTANCE BETWEEN ALL BURGER LIST ITEMS*/
}

#burger-click-list span {
    margin-left: 10px;
}



/* BECAUSE OF POSITION: FIXED */
main {
    margin-top: 4rem;
}



/*BREAK POINT FOR DISABLING BURGER*/
@media screen and (min-width: 900px) {
    .burger, .close, #burger-click-list {
        display: none;
    }

    .nav-link {
        display: inline;
    }
}