/* INFO GRID */
#info {
    display: grid;
    grid-template-areas: 
        "big-text"
        "img"
        "small-text"
    ;
}

#info div {
    grid-area: big-text;
}

#info img {
    grid-area: img;
}

#info p {
    grid-area: small-text;
}


/* PICTURE GRID */
#pictures {
    display: grid;
    grid-template-areas: 
        "pic1"
        "pic2"
        "pic3"
    ;
}

.pic1 {
    grid-area: pic1;
}

.pic2 {
    grid-area: pic2;
}

.pic3 {
    grid-area: pic3;
}

/* BOX FIX */
section {
    margin: 30px; /*MÅSTE VARA DUBBLA JÄMFÖRT M HOME PGA INTE I GRID BETEENDE*/
    background-color: var(--darker-main-bg-color);
    padding: 35px;
    border-radius: 15px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.1);
}

/* INFO BOX */
#info div h1, #info div p:not(:last-child) {
    margin-bottom: 7px;
}

#info img{
    border-radius: 10px;
    height: 350px;
    object-fit: cover;
    margin: 30px 0;
}

/* PICURE BOX */
.pic1, .pic2 {
    margin-bottom: 30px;
}

.pic picture img {
    border-radius: 10px;
    object-fit: cover;
}



/*BREAK POINTS*/
@media screen and (min-width:600px) {
    #pictures {
        grid-template-areas: 
        "pic1   pic2"
        "pic3   pic3"
        ;
    }

    .pic1 {
        margin-right: 30px;
    }

    .pic3 {
        height: 470px;
    }
}

@media screen and (min-width: 900px) {
    #info {
        grid-template-areas: 
            "big-text   big-text"
            "img        small-text"
        ;
    }

    #info img {
        margin: 30px 0 0 0;
    }

    #info p:not(div p) {
        margin: 30px 0 0 30px;
    }

    #pictures {
        grid-template-areas: 
            "pic1   pic2    pic3"
        ;
    }

    .pic1, .pic2 {
        margin-right: 30px;
        margin-bottom: 0;
    }

    .pic3 {
        height: auto;
    }
}