/* GRID */
main {
    display: grid;
    grid-template-areas: 
        "carousel"
        "fantastic"
        "racing"
        "spa"
        "reviews"
    ;
}

#carousel {
    grid-area: carousel;
}

#fantastic {
    grid-area: fantastic;
}

#racing {
    grid-area: racing;
}

#spa {
    grid-area: spa;
}

#reviews {
    grid-area: reviews;
}



/* BOX FIX */
section:not(#carousel) {
    margin: 15px;
    background-color: var(--darker-main-bg-color);
    padding: 35px;
    border-radius: 15px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.1);
}

#carousel {
    margin-bottom: 30px;
}

section:not(#carousel) img {
    border-radius: 10px;
    object-fit: cover;
}

section:not(#carousel) div {
    margin-top: 25px;
}

section:not(#carousel) div p {
    margin-top: 7px;
}

h1 {
    position: absolute;
    z-index: 999; /*TO BE BELOW NAV BUT ABOVE REST*/
    bottom: 6%;
    left: 8%;
    font-size: 3rem;
    
}

#reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#reviews p {
    width: 60%;
    margin: 7px 0;
    font-style: italic;
    text-align: center;
}

#reviews h2 {
    width: 80%;
    text-align: center;
    margin-bottom: 10px;
}



/*BREAK POINTS*/
@media screen and (min-width: 600px){
    main {
        grid-template-areas: 
            "carousel   carousel"
            "fantastic  fantastic"
            "racing     spa"
            "reviews    reviews"
        ;
    }

    h1 {
        font-size: 4rem;
    }

    #fantastic img {
        height: 500px;
        object-fit: cover;
    }
}

@media screen and (min-width: 900px){
    main {
        grid-template-areas: 
            "carousel   carousel    carousel    carousel    carousel    carousel"
            "fantastic  fantastic   fantastic   fantastic   reviews     reviews"
            "racing     racing      racing      spa         spa         spa"
        ;
    }

    #reviews p {
        width: 80%;
    }

    h1 {
        font-size: 7rem;
    }
}